@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

/* Обнулення */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;  
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html,body{
    height: 100%;
    line-height: 1;
}
body{
font-family: Rubik;
font-size: 12px;
color: #616161;
}
/* **********header*********** */
.wrapper{
overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
}

[class*="__container"]{
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}
.main{
    flex:1 1 auto;
}
/* PC */
@media (max-width:1087px) {
    [class*="__container"]{
        max-width: 970px;
    }
}
/* Tablet */
@media (max-width:991px) {
    [class*="__container"]{
        max-width: 750px;
    }
}
/* Tablet */
@media (max-width:767px) {
    [class*="__container"]{
        max-width: none;
    }
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 2;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 5;
}
.header__menu {
    flex: 1 1 auto;
}
.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px 0px 0px;
    align-items: center;
}

/* Tablet */
@media (max-width: 991px) {
    .header__button {
        flex: 0 0 170px;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0px 40px 0px 0px;
}
@media (max-width: 991px) {
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}

.menu__link {
font-family: Raleway;
text-transform: uppercase;
font-weight: 700;
font-size: 10px;
line-height: 1.2;
letter-spacing: 0.14em;
color: #000;
}
.menu__link:hover{
    text-decoration: underline;
}

.button {
    display: inline-block;
    font-family: Raleway;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    padding: 13px 30px;

    color: #FCFDFE;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #EC5863;
    transition: background-color 0.3s ease 0s;
}
.button:hover{
background-color: #ec8f95;
}

.button_blue {
    background-color: #4285F4;
}

.button_blue:hover{
    background-color: #74a7f8;
}
/* *************************** */
.close-icon-menu,
.icon-menu{
    display: none;
}

@media (max-width:479px) {
    .header__logo{
        flex: 0 0 40px;
        overflow: hidden;
    }

}
/* *************************** */
@media (max-width:767px) {
    .header__button{
        padding: 0px 10px 0px 0px;
    }
    .icon-menu{
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }
    .icon-menu span{
        height: 2px;
        background-color: #000;
        }

     .close-icon-menu{
        position: relative;
        flex: 0 0 30px;
        height: 30px;
        margin: 0px 0px 0px 20px;
        }

    .close-icon-menu::before,
    .close-icon-menu::after {
    content: "";
    position:absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
    }

    .close-icon-menu::before{
        transform: rotate(45deg);
    }

    .close-icon-menu::after{
        transform: rotate(-45deg);
    }

    .header:target .menu__body{
        left:0;
    }

    .header:target .menu__body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        background-color: #fff;
    }

    .menu__body{
        position: fixed;
        z-index: 5;
        overflow: auto;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 100px 15px 30px 15px;
        transition: left  0.3s ease 0s;
    }

    .header:target .menu__body{
        left: 0;
    }

    .menu__link{
        color: #000;
        font-size: 30px;
    }

    .menu__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__item{
        margin: 0px 0px 20px 0px;
    }
    .menu__item:last-child{
        margin-bottom: 0px;
    }

    .header__container{
        min-height: 70px;
    }

    .header:target .icon-menu{
        display: none;
    }

    .header:target .close-icon-menu{
        display: flex;
    }
}

/* **********main block Get-started************* */

.block-text_center{
text-align: center;
}
.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
}
.block-text__title:not(:last-child) {
    margin: 0px 0px 12px 0px;
}
.block-text__title span{
    color: #EC5863;
}
.block-text__title_blue span{
    color: #4285F4;
}
.block-text__text {
    line-height: 139%;
}
.block-text__text_mw{
    max-width: 600px;
    margin: 0px auto;
}
.block-text__text:not(:last-child) {
    margin: 0px 0px 24px 0px;
}
/* *************************************** */
.get-started {
    background-color: #FAFBFD;
}
.get-started__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px 15px 50px 15px;
}
.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 267px;
    transform: translate(100%, 0px);
    border-radius: 30px 0px 0px 30px;
    background-color: #EC5863;
}

.get-started__content {
    flex: 0 1 48%;
    padding: 0px 20px;
}
.get-started__block-text {
    max-width: 410px;
}

.get-started__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 20px;
}
.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.get-started__image img{
    max-width: 100%;
}
.video-get-started {
    display: inline-flex;
    align-items: center;
}
.video-get-started__icon {
    flex: 0 0 44px;
}
.video-get-started__body {
    padding: 0px 0px 0px 12px;
}
.video-get-started__title {
    font-size: 13px;
    line-height: 126%;
    color: #B0B0B0;
    letter-spacing: 0.08em;
}
.video-get-started__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}
.video-get-started__text {
    font-size: 9px;
    line-height: 126%;

    letter-spacing: 0.165em;
    text-transform: uppercase;

    color: #000000;
}

@media (max-width: 991px) {
    .get-started__container::before {
        right: 200px;
        border-radius: 20px 0px 0px 20px;
    }
}
@media (max-width: 767px) {
    .get-started__container{
        padding: 100px 15px 30px 15px;
    }
    .get-started__container::before {
        display: none;
    }
    .get-started__block-text {
        max-width: none;
    }
    .get-started__content{
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started__image{
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0px;
        z-index: 1;
    }
    .get-started__video{
        padding: 0;
    }
}
/* *************** block Stay-safe******************* */
.stay-safe {
padding: 80px 0px;
}

.stay-safe__container {
    display: flex;
    align-items: center;
}
.stay-safe__media {
flex: 0 1 50%;
padding: 0px 0px 0px 47px;
}
.stay-safe__content {
flex: 0 1 50%;
}
.media-stay-safe {
    width: 373px;
    padding: 56px 0px 27px 0px ;
    position: relative;
    text-align: center;
}
.media-stay-safe__image {
    display: inline-block;
    box-shadow: (2px 4px 32px rgba(0, 0, 0, 0.12));
    border-radius: 16px;
    position: relative;
    width: 90%;
}
.media-stay-safe__image img{
    position: relative;
    z-index: 1;
    max-width: 100%;
}

.media-stay-safe__image::after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 60px;
    width: 206px;
    height: 27px;
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
}

@media (max-width:991px) {
    .stay-safe{
        padding: 40px 0px;
    }
}
@media (min-width:991px) {
    .stay-safe__media{
        padding: 0px 0px 0px 47px;
    }
}
@media (max-width: 767px) {
    .stay-safe{
        padding: 30px 0px;
    }
    .stay-safe__container{
        flex-direction: column-reverse;
    }
    .stay-safe__content{
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width:479px) {
    .media-stay-safe{
        width: 320px;
    }
    .media-stay-safe__image::after{
        left: 40px;
    }
}
/* ********decor_items**** */

.media-stay-safe__item {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    width: 77px;
    height: 77px;
}
.media-stay-safe__item_1 {
    top: 30px;
    left: 0;
    width: 147px;
    height: 147px;
}
.media-stay-safe__item_2 {
    bottom: 35px;
    left: 33px;
}
.media-stay-safe__item_3 {
    bottom: 144px;
    right: 34px;
}
/* *******************************block Experts*************** */

.experts {
    background-color:#fafbfd;
    padding: 103px 0px 116px 0px;
}
.experts__block-text{
    max-width: 400px;
}
.experts__body{
    display: flex;
    align-items: center;
}
.experts__content{
    flex: 0 1 50%;
    padding: 0px 20px 0px 0px;
}
.experts__video{
    flex: 0 1 50%;
    padding: 0px 0px 30% 0px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
}
.experts__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (max-width:767px) {
    .experts{
        padding: 80px 0px 30px 0px;
    }
    .experts__body{
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video{
        padding: 0px 0px 50% 0px;
    }
    .experts__content{
        padding: 0px;
        margin: 0px 0px 30px 0px;
    }
}
.statistics-experts {
    position: relative;
    max-width: 655px;
    margin: 0px auto;
}
.statistics-experts__body {
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    
    margin: 0px 0px 80px 0px;

    position: relative;
    z-index: 1;
}
.body-statistics-experts {
    padding: 28px 80px;
    display: flex;
    align-items: center;
}
.body-statistics-experts__item {
    flex: 0 1 25%;
    text-align: center;
}
.body-statistics-experts__item:last-child{
    flex: 0 1 50%;
}
.body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.14em;
    margin-bottom: 5px;
    color: #EC5863;
}
.body-statistics-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    color: #000000;
}
.statistics-experts__decor {
    position: absolute;
    background-color: #ec5863;
    border-radius: 30px;
}
.statistics-experts__decor_1 {
    left: -20px;
    bottom: -20px;
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    border-radius: 16px;
}
.statistics-experts__decor_2 {
    width: 96.96px;
    height: 96.96px;
    left: 32%;
    top: -40px;
    border-radius: 30px;
    transform: rotate(15deg);

}
.statistics-experts__decor_3 {
    width: 127.47px;
    height: 127.47px;
    top: 0px;
    right: -50px;
    border-radius: 30px;
    transform: rotate(-30deg);
}
@media (max-width:767px) {
    .statistics-experts__body{
        margin: 0px 0px 50px 0px;
    }
    .body-statistics-experts{
        padding: 25px;
    }
}

@media (max-width:479px) {
    .body-statistics-experts{
        flex-direction: column;
    }
    .body-statistics-experts__item:not(:last-child){
        margin: 0px 0px 15px 0px;
    }
}

/* **********block Healthcare********** */

.healthcare {
    padding: 80px 0px 30px 0px;
}
.healthcare__block-text {
    margin: 0px 0px 45px 0px;
    letter-spacing: 0.08em;
}
.healthcare__items {
    display: flex;
    max-width: 980px;
    margin: 0px auto;
    gap: 72px;
}
.healthcare__item {
    flex: 0 1 33.333%;
}
.item-healthcare {
    position: relative;
    background: #FFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 17px;
}
.item-healthcare__icon {
    margin: 0px 0px 58px 0px;
}
.item-healthcare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    margin: 0px 0px 4px 0px;
    color: #000;
}
.item-healthcare__text {
    line-height: 138.5%;
    letter-spacing: 0.08em;
}
.item-healthcare_1::before {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: -35px;
    left: -20px;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
    z-index: -1;
}
.item-healthcare_1::after{
    content: "";
    position: absolute;
    width: 96.96px;
    height: 96.96px;
    top: 30px;
    right: -50px;
    background: #EC5863;
    border-radius: 30px;
    transform: rotate(105deg);
    z-index: -1;
}
.item-healthcare_2::after{
    content: "";
    position: absolute;
    width: 127.47px;
    height: 127.47px;
    top: 150px;
    right: -80px;
    background: #EC5863;
    border-radius: 30px;
    transform: rotate(-30deg);
    z-index: -1;
}
.item-healthcare_3::after{
    content: "";
    position: absolute;
    width: 65.75px;
    height: 65.75px;
    right: -19px;
    top: -30px;
    background: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
    z-index: -1;
}
@media (max-width:1087px) {
    .healthcare{
        padding: 30px 0px 30px 0px;
    }
    .healthcare__items {
        gap: 30px;
    }
}
@media (max-width:767px){
    .healthcare__items {
        flex-direction: column;
    }
    .healthcare__items:not(:last-child){
        margin: 0px 0px 25px 0px;
    }
    .item-healthcare_2::after{
        display: none;
    }
}
/* *********************block Footer*********** */
.footer {
    padding: 45px 0px;
}
.footer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 20px;
}
@media (max-width:500px) {
    .footer{
        padding: 30px 0;
    }
    .footer__items{
        flex-direction: column;
    }
}